.container:hover {
    box-shadow: 10px 20px 25px -15px rgba(0, 0, 0, 0.349), 11px 10px 5px -5px rgba(0, 0, 0, 0.349);
    transform: scale(2);
    transform: scale(1.05);
    // transform: rotateX(-2deg) rotateY(-2deg) translateY(6px) translateX(-2px) ;
}

.flip:hover .flip-card {
    transform: rotateY(180deg);
    box-shadow: -12px 5px 8px -5px rgba(0, 0, 0, 0.521), -12px 5px 8px -5px rgba(0, 0, 0, 0.521);    
}

.bg .shine {
	position: relative;
}
.bg .shine::before {
	position: fixed;
	top: -100px;
	left: -100%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100vh;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.bg .shine:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
