// COLORES

$color1:rgba(0, 0, 0, 0.349);
$color2: rgb(255, 255, 255);
$color3: rgb(0, 0, 0);





// FONTS

$font1: 'Bebas Neue';
$font2: 'VT323';

// SIZES


// $size1:;
// $size2:;
// $size3:;
// $size4:;




// IMPORTS

@import "_index";
@import "_media";
@import "_hover";